<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Demo Web</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
    <script type="text/javascript" src="{{ url_for('static',filename='script.js')}}"></script>
  </head>
  <body>
    <!--  -->
    <header>
        <h1>Demo Application Web</h1>
    </header>
    <main>
        <h2>Liste des aliments</h2>
        <table>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Debut</th>
                <th>Fin</th>
            </tr>
            <tr>
                <td>Pomme</td>
                <td>Fruit</td>
                <td>Automne</td>
                <td>Hiver</td>
            </tr>
            <tr>
                <td>Carotte</td>
                <td>Légume</td>
                <td>Printemps</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Banane</td>
                <td>Fruit</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Tomate</td>
                <td>Légume</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Fraise</td>
                <td>Fruit</td>
                <td>Printemps</td>
                <td>Été</td>
            </tr>
            <tr>
                <td>Oignon</td>
                <td>Légume</td>
                <td>Printemps</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Ananas</td>
                <td>Fruit</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Poivron</td>
                <td>Légume</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Citron</td>
                <td>Fruit</td>
                <td>Hiver</td>
                <td>Printemps</td>
            </tr>
            <tr>
                <td>Patate</td>
                <td>Légume</td>
                <td>Automne</td>
                <td>Hiver</td>
            </tr>
            <tr>
                <td>Orange</td>
                <td>Fruit</td>
                <td>Hiver</td>
                <td>Printemps</td>
            </tr>
            <tr>
                <td>Laitue</td>
                <td>Légume</td>
                <td>Printemps</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Poire</td>
                <td>Fruit</td>
                <td>Automne</td>
                <td>Hiver</td>
            </tr>
            <tr>
                <td>Concombre</td>
                <td>Légume</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Melon</td>
                <td>Fruit</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Aubergine</td>
                <td>Légume</td>
                <td>Été</td>
                <td>Automne</td>
            </tr>
            <tr>
                <td>Cerise</td>
                <td>Fruit</td>
                <td>Printemps</td>
                <td>Été</td>
            </tr>
            <tr>
                <td>Chou-fleur</td>
                <td>Légume</td>
                <td>Automne</td>
                <td>Hiver</td>
            </tr>
            <tr>
                <td>Raisin</td>
                <td>Fruit</td>
                <td>Automne</td>
                <td>Hiver</td>
            </tr>
        </table>
    </main>
    <footer>
        <p>réalisé par une super stagiaire (et son copain) !</p>
    </footer>
  </body>
</html>