<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Demo Web</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}" />
    <script type="text/javascript" src="{{ url_for('static',filename='script.js')}}"></script>
  </head>
  <body>
    <header>
        <h1>5 par jour</h1>
    </header>
    <main>
        <h2>Liste des aliments</h2>
        <table>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Debut</th>
                <th>Fin</th>
            </tr>
            <!-- Utilises la variable miam pour generer les éléments du tableau -->
            {% for miam in miams %}
            <tr>
                <td>{{ miam.nom }}</td>
                <td>{{ miam.type }}</td>
                <td>{{ miam.debut }}</td>
                <td>{{ miam.fin }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
    <footer>
        <p>réalisé par une super stagiaire (et son copain) !</p>
    </footer>
  </body>
</html>